<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.me_mo">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"  tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        tools:replace="android:label"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/epicc"
        android:label="Me-Mo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.me_mo.memoo"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".zen" />
        <activity android:name=".notif" />
        <activity android:name=".mono" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />

        <service android:name=".LockerService" />

        <receiver android:name=".BroadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIZ3nJzxWJfLPj6zF6cf-bGyLZ0u5RPlxew_hCkA" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SecActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pie" android:screenOrientation="portrait" android:configChanges="keyboardHidden"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".lockscreen.UnlockCountService"
            android:label="UnlockService"
            />
        <receiver android:name=".lockscreen.UnlockReciever"   android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".lockscreen.PhoneBootReciever" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>